@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');
@tailwind base; @tailwind components; @tailwind utilities; body { margin: 0; min-height: 100vh; } .dark { color-scheme: dark; }